<! DOCTYPE html>
<html>
    <head>
        <title>ParkingPro</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
       <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ParkingPro</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                       <li><a href="#">Slots</a></li>
                       <li><a href="#">Sign Up</a></li>
                       <li><a href="#">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<div class="wrapper">
  <div class="box box1">1</div>
  <div class="box box2">2</div>
  <div class="box box3">3</div>
  <div class="box box4">4</div>
  <div class="box box5">5</div>
  <div class="box box6">6</div>
  <div class="box box7">7</div>
  <div class="box box8">8</div>
  <div class="box box9">9</div>
  <div class="box box10">10</div>
  <div class="box box1">11</div>
  <div class="box box2">12</div>
  <div class="box box3">13</div>
  <div class="box box4">14</div>
  <div class="box box5">15</div>
  <div class="box box6">16</div>
  <div class="box box7">17</div>
  <div class="box box8">18</div>
  <div class="box box9">19</div>
  <div class="box box10">20</div>
  <div class="box box1">21</div>
  <div class="box box2">22</div>
  <div class="box box3">23</div>
  <div class="box box4">24</div>
  <div class="box box5">25</div>
  <div class="box box6">26</div>
  <div class="box box7">27</div>
  <div class="box box8">28</div>
  <div class="box box9">29</div>
  <div class="box box10">30</div>
  <div class="box box1">31</div>
  <div class="box box2">32</div>
  <div class="box box3">33</div>
  <div class="box box4">34</div>
  <div class="box box5">35</div>
  <div class="box box6">36</div>
  <div class="box box7">37</div>
  <div class="box box8">38</div>
  <div class="box box9">39</div>
  <div class="box box10">40</div>
  <div class="box box1">41</div>
  <div class="box box2">42</div>
  <div class="box box3">43</div>
  <div class="box box4">44</div>
  <div class="box box5">45</div>
  <div class="box box6">46</div>
  <div class="box box7">47</div>
  <div class="box box8">48</div>
  <div class="box box9">49</div>
  <div class="box box10">50</div>
  <div class="box box1">51</div>
  <div class="box box2">52</div>
  <div class="box box3">53</div>
  <div class="box box4">54</div>
  <div class="box box5">55</div>
  <div class="box box6">56</div>
  <div class="box box7">57</div>
  <div class="box box8">58</div>
  <div class="box box9">59</div>
  <div class="box box10">60</div>
  <div class="box box1">61</div>
  <div class="box box2">62</div>
  <div class="box box3">63</div>
  <div class="box box4">64</div>
  <div class="box box5">65</div>
  <div class="box box6">66</div>
  <div class="box box7">67</div>
  <div class="box box8">68</div>
  <div class="box box9">69</div>
  <div class="box box10">70</div>
  <div class="box box1">71</div>
  <div class="box box2">72</div>
  <div class="box box3">73</div>
  <div class="box box4">74</div>
  <div class="box box5">75</div>
  <div class="box box6">76</div>
  <div class="box box7">77</div>
  <div class="box box8">78</div>
  <div class="box box9">79</div>
  <div class="box box10">80</div>
  <div class="box box1">81</div>
  <div class="box box2">82</div>
  <div class="box box3">83</div>
  <div class="box box4">84</div>
  <div class="box box5">85</div>
  <div class="box box6">86</div>
  <div class="box box7">87</div>
  <div class="box box8">88</div>
  <div class="box box9">89</div>
  <div class="box box10">90</div>
  <div class="box box1">91</div>
  <div class="box box2">92</div>
  <div class="box box3">93</div>
  <div class="box box4">94</div>
  <div class="box box5">95</div>
  <div class="box box6">96</div>
  <div class="box box7">97</div>
  <div class="box box8">98</div>
  <div class="box box9">99</div>
  <div class="box box10">100</div>


</div>
<script type="text/javascript" src="static\template.js"></script>
    </body>
</html>